
.header {
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.user {
  text-decoration: none;
  font-size: 20px;
}

.logs {
  text-decoration: none;
  font-size: 20px;
}

.communities {
  
}

.community {
  text-decoration: none;
  background-color:red;
  font-size: 50px;
}